/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #F9F8F4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f9f8f4;
  width: 400px;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  text-indent: 10px;
  background-color: white;
}

.password-group {
  display: flex;
  gap: 10px;
}

.password-group input {
  flex: 1;
}

.register-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: #4B5D2A;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.register-btn:hover {
  background-color: #3d4e22;
}

.terms {
  font-size: 0.85rem;
  color: #333;
  text-align: left;
  margin-top: 20px;
}

.terms a {
  color: black;
  text-decoration: underline;
}

.terms input {
  transform: scale(1.1);
  margin-right: 8px;
  accent-color: black;
}
